<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{'/_styles/style.css' | prefixedUrl }}">
</head>
<body>
    {% include "nav.njk" %}
    <main>
        <article>
            <h1>{{ title }}</h1>
            <p><em>{{ date | readableDate }}</em></p>
            {{ content | safe }}
        </article>
    </main>

    {% include "footer.njk" %}
</body>
</html>
